<!DOCTYPE html>
<html>
  <head>
      <title>Lana_bakery</title>
    {%include 'bootstrap.html' %}
 </head>
 <body> 
   {% include 'nav.html' %}
   {% include 'banner.html' %}
   <div class="container">
   <h1
     class="text-center">Welcome to Lana_Bakery
   </h1>
   <h2 class="text-center mt-2 mb-4">About</h2>
 
  <div class="row" style="margin-bottom:16px">
   <div class= "col-md-6">
     <p class="lead">
    "Біздің наубайханаға қош келдіңіз! Біз күн сайын дәмді және жаңа өнімдер жасайтын құмар наубайшылар тобымыз. Біздің миссиямыз-тұтынушыларымызды хош иісті нандармен, дәмді пирогтармен және еліктіретін кондитерлік өнімдермен қуант у.

    Біз тек сапалы ингредиенттерді, таңдалған ұнды және жаңа өнімдерді қолданғанымызды мақтан тұтамыз, сондықтан біздің наубайханадан шыққан әрбір бөлік тамаша болады. Біздің команда сапаға деген сенімділік біздің жұмысымыздың негізі болуы үшін өндірістің әр кезеңін мұқият қадағалайды.

    Біздің әр түрлі өнімдеріміз кез-келген талғам мен қалауды қанағаттандыруға мүмкіндік береді. Біз жаңа піскен тоқаш өнімдерін, хош иісті круассандарды, қатпарлы пирогтарды, кекстерді, печеньелерді және т.б. ұсынамыз. Біздің барлық өнімдеріміз сүйіспеншілікпен және қамқорлықпен дайындалады, сондықтан әрбір тістеу қуаныш пен қанағат әкеледі.

    Біздің негізгі өнімдерімізден басқа, біз ерекше жағдайларға Тапсырыс дайындаймыз. Егер сізде ерекше іс-шара, үйлену тойы, туған күн немесе жақындарыңызды дәмді ләззатпен қуантқыңыз келсе, біз сіздің қажеттіліктеріңізге сәйкес келетін ерекше және ерекше бұйымдар жасауға қуаныштымыз.

    Бізге келіңіз және біздің наубайханаға жаңа пісірілген кондитерлік өнімдер мен көңілді атмосферамен күніңізді жақсартуға мүмкіндік беріңіз. Біз барлық клиенттерді қарсы алуға қуаныштымыз және сіз біздің дәмді тағамдарымызға риза болатыныңызға кепілдік береміз. Жақсы тәбет!"
    </p>
      </div>
        <div class="d-none d-md-block col-md-6">
        <img src="/static/bakery.jpg" style="height: 630px; width: 100%; border-radius: 4px">
    </div>
   </div>
  <h2 class="text-center mt-2 mb-4">
    Наша продукция
  </h2>
    {% for job in jobs %}
      {% include 'product.html' %}
    {% endfor %}
  </p>
  <div class="text-center">
  <a class="btn btn-link btn-lg" href="https://www.instagram.com/asanaly__aa?igshid=NzZlODBkYWE4Ng%3D%3D&utm_source=qr" >Contact us</a>
    </div>
  </div>
   {% include 'footer.html' %}
</body>
</html>   
